
//imports
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Roboto');
@import "footer";
@import "main";
@import "header";
@import "social";
@import "container";
@import (inline)url(../css/reset.css);

//variables
@yellow: rgb(255, 204, 0);
@black: rgb(51, 51, 51);
@grey: lighten(@black, 55%);
@dark-grey: lighten(@black, 35%);

//mixins
.upper-color-text (@color) {
  color: @color;
  text-transform: uppercase;
}

.bottom-header-line {
  position: absolute;
  content: '';
  width: 25%;
  border-bottom: 1px solid @yellow;
  bottom: 12px;
}

.fancy-arrow {
  position: absolute;
  content: '';
  border-bottom: 2px solid @yellow;
  border-right: 2px solid @yellow;
  top: 49%;
  height: 2%;
  width: 1%;
  cursor: pointer;
}

.img-second-border {
  content: '';
  background: white;
  position: absolute;
  margin: auto;
}

//code
